
language: python

before_install:
    - export DJANGO_SETTINGS_MODULE=cornershopTodo.settings
    - export PYTHONPATH=$HOME/builds/royarzun/cornershopTodo
    - export PIP_USE_MIRRORS=true

install:
    - pip install -r requirements.txt

script:
    - python manage.py migrate
    - python manage.py test
